<div style="text-align: center;">
   <span (click)="upArrow()">
      <ion-icon slot="start" name="chevron-back"></ion-icon>
   </span>
   <span>{{monthName | slice:0:3}} {{currentYear}}</span>
   <span (click)="downArrow()">
      <ion-icon slot="start" name="chevron-forward"></ion-icon>
   </span>
</div>
<div class="calendar-grid">
   @for (wd of weekDays; track weekDays) {
   <div class="calendar-header">
      {{ wd }}
   </div>
   }
   @for (day of daysInMonth; track daysInMonth) {
   <div class="calendar-date-view">
      <div [ngStyle]="getStyleForBox(day)" (click)="onDateChange(day)">{{ day.number }}
         <div>
            <span style="font-size: large;">.</span>
            <span style="font-size: large;">.</span>
         </div>

      </div>
   </div>
   }

</div>
@if(isLoading){
<div style="text-align: center;margin-top: 60%;">
   <ion-spinner></ion-spinner>
</div>

}
<ion-content fixed-slot-placement="before">
   <ion-fab style="margin-bottom: 45px;" horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="addBooking()">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>

   <!-- <ion-list>
      <ion-datetime presentation="date" [highlightedDates]="highlightedDates"
         (ionChange)="onDateChange($event)"></ion-datetime>
   </ion-list> -->



   <!-- <div class="calendar-grid">
     @for (day of daysInMonth; track daysInMonth) {
  <div
    class="calendar-day"
    [ngClass]="getDateClass(day.date)"
    (click)="selectDate(day.date)"
  >
    {{ day.number }}
     @if(highlightedDates[day.date]){
    <div class="dots">
       @for (color of highlightedDates[day['date']];track highlightedDates[day['date']]){
      <span
        
        class="dot"
        [ngStyle]="{ 'background-color': color }"
      ></span>
       }
    </div>
   }
  </div>
}
</div> -->